@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #3b4351;
  outline: none;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

.alert {
  background: var(--light-color);
  color: #333;
  opacity: 0.9;
  padding: 0.7rem;
  margin: 1rem 0;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.btn {
  background: var(--light-color);
  border: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  padding: 0.4rem 1.3rem;
  transition: opacity 0.2s ease-in;
}

.btn-link {
  background: none;
  margin: 0;
  padding: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.container {
  margin: auto;
  max-width: 600px;
  overflow: hidden;
  padding: 0 2rem;
}

.card {
  background: #fff;
  border: 0.05rem solid #dadee4;
  border-radius: 0.1rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px;
}

.card .card-body {
  padding-top: 0;
}
.card:last-child {
  border-bottom-width: 0.05rem;
}
.card.card-result:hover {
  background-color: #eee;
  cursor: pointer;
}

h1 {
  text-align: center;
}

h2,
h5 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h5,
.h5 {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

input {
  margin: 1.2rem 0;
}

input[type="text"],
textarea {
  border: 1px solid #ccc;
  display: block;
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
}

input[type="submit"],
button {
  font: inherit;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  opacity: 0.9;
  padding: 0.7rem 2rem;
  width: 100%;
  z-index: 1;
}

.panel-back {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.panel {
  border: 0.05rem solid #dadee4;
  border-radius: 0.1rem;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.panel.search-panel {
  margin: 0 auto;
  max-width: 600px;
}
.panel.search-panel .panel-header {
  padding-bottom: 0;
}
.panel.search-panel .panel-body {
  padding-bottom: 0.8rem;
}
.panel.show-panel {
  margin: 0 auto;
  max-width: 600px;
}
.panel.show-panel .tile {
  padding: 5px 0;
}
.panel.show-panel .panel-body {
  padding-bottom: 0.8rem;
}

.panel .panel-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 0.8rem;
  -ms-flex: 1 1 auto;
}

.panel .panel-header,
.panel .panel-footer {
  flex: 0 0 auto;
  padding: 0.8rem;
  -ms-flex: 0 0 auto;
}

.panel .panel-nav {
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
}

.subtitle {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: start;
  -ms-flex-line-pack: justify;
}

.tile .tile-icon,
.tile .tile-action {
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
}

.tile .tile-content {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}

.tile .tile-content:not(:first-child) {
  padding-left: 0.4rem;
}

.tile .tile-content:not(:last-child) {
  padding-right: 0.4rem;
}

.tile .tile-title,
.tile .tile-subtitle {
  line-height: 1.2rem;
}

.tile.tile-centered {
  align-items: center;
  -ms-flex-align: center;
}

.tile.tile-centered .tile-content {
  overflow: hidden;
}

.tile.tile-centered .tile-title,
.tile.tile-centered .tile-subtitle {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
